<h1>{{title}}</h1>
<hr>
<h2>WinCast displays weekly forecasts in Manitoba. Users can view forecasts for a given day or for a given period of time on any given day. </h2>

<form>
  <label for="fname">Enter a date in the textbox below:</label>
  <input type="text" id="fname" name="fname" value="Enter a date in the format yyyy-mmm-dd"><br><br>
  <input type="submit" value="Submit">
</form>

<app-forecast></app-forecast>
<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->